[submodule "DiscordRandomStatus/Misc/CompactJson"]
	path = DiscordRandomStatus/Misc/CompactJson
	url = https://github.com/araghon007/CompactJson
[submodule "DiscordRandomStatus/Misc/WpfAnimatedGif"]
	path = DiscordRandomStatus/Misc/WpfAnimatedGif
	url = https://github.com/XamlAnimatedGif/WpfAnimatedGif
